.button {
  align-items: center;
  background-color: #666666;
  border-radius: 7%;
  border: 2px solid black;
  padding: 10px;
  margin-top: 20px;
  color: white;

}
.container {
  height: 1000px;
  width: fit-content;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  
}
.listaPoke {
  align-items: center;

}
